.App {
  text-align: center;
  width: 100%;
  background-color: #000000;
  /* ideally, download pattern for production */
  background-image: url('https://www.transparenttextures.com/patterns/mooning.png');
}
